<div sp-layout="Layout_sm" size="[12,12]">
	<div sp-container="sm_header" area="0,0,*,78px" bgc="#000000">
		<h1 style="color: #FFFFFF">我是小版</h1>
	</div>
	<div sp-container="sm_footer" area="0,-0,*,1" bgc="#00FF00">
		<p align="center">footer</p>
	</div>
	<div sp-container="sm_main" area="0,78px,*,*" bgc="#7777FF">
		<div sp-layout="Layout_sm_main" size="[12,12]">
			<div sp-container="sm_main_right" area="0,0,*,*" sp-layout-gesture swipe="['sm_m_1','sm_m_2']">
				<div sp-layout="sm_m_1" size="[12,12]">
					<div sp-container="sm_m_1c" area="0,0,*,*" bgc="#FF00FF" sp-controller="lifeCycleLogger">
						<h2>主頁面1</h2>
						<h4 ng-repeat="msg in msgs">{{msg}}</h4>
					</div>
				</div>
				<div sp-layout="sm_m_2" size="[12,12]">
					<div sp-container="sm_m_2c" area="0,0,*,*" bgc="#00FFFF" sp-controller="lifeCycleLogger">
						<h2>主頁面2</h2>
						<h4 ng-repeat="msg in msgs">{{msg}}</h4>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>