<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://code.angularjs.org/1.2.28/angular.js"></script>
<script src="f1_bk_api/f1_bk_api.nocache.js"></script>
<script src="http://10.1.41.222/cdn/angular-kqs/0.0.1/js/angular-kqs.js"></script>
<title>kqs test</title>
<script type="text/javascript">
	var app = angular.module('app', [ 'kqs' ]);
	app.controller('mainCtrl', [ '$scope', 'kqsService', function($scope, kqsService) {
		//kqsService.link($scope);
		$scope.quotes = [];
		$scope.symbolId = '2330';
		kqsService.onload(function() {
			var o = {
				onNotifyCurrentStatus : function(symbol, quote) { // 指定接收即時資料的function,quote API 請參考 Java 版本的 Quote.java
					$scope.quotes.push(quote.toString());
					console.log(quote.getValue(125));
					console.log(quote.getFields());
					console.log(symbol);
					$scope.$apply();
				}
			};

			console.log(o);
			var listener = kqsService.createListener(o);

			console.log(listener);

			$scope.sub = function() {
				kqsService.subscribe(F1Symbol.make(0x10, $scope.symbolId), listener);
				/* var listener = kqsService.subscribe(F1Symbol.make(0x10, $scope.symbolId),function(symbol, quote){
					
				}); */
			};
			$scope.info = function() {
				var symbols = new ArrayList();
				symbols.add(F1Symbol.make(0x10, $scope.symbolId));
				var infos = kqsService.getMutilSymbolInfo(symbols);
				console.log(infos);
			};
		});
	} ]);
</script>
</head>
<body ng-app="app">
	<h1>KQS Test!!</h1>
	<div ng-controller="mainCtrl">
		<input type="text" ng-model="symbolId" /> <input type="button" value="subscribe" ng-click="sub()" /> <input type="button" value="getInfo" ng-click="info()" />
		<hr />
		<p ng-repeat="qoute in quotes">{{qoute}}</p>
	</div>
</body>
</html>