<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://code.angularjs.org/1.2.28/angular.js"></script>
<script src="https://code.angularjs.org/1.2.28/angular-animate.js"></script>
<link data-require="bootstrap-css@3.3.1" data-semver="3.3.1" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="css/style.css" />
<script src="f1_bk_api/f1_bk_api.nocache.js"></script>
<script src="http://10.1.41.222/cdn/angular-kqs/0.0.1/js/angular-kqs.js"></script>
<style type="text/css">
.amberLight {
	border: 1px solid rgba(255, 255, 0, 0.75);
}

.amberLight-remove {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.amberLight-remove {
	border: 1px solid rgba(255, 255, 0, 0.75);
}

.amberLight-remove.amberLight-remove-active {
	border: 1px solid rgba(255, 255, 0, 0);
}
</style>
<title>qoute test</title>
<script type="text/javascript">
	var app = angular.module('app', [ 'kqs', 'ngAnimate' ]);

	app.controller('mainCtrl', [ '$scope', 'dataCenter', function($scope, dataCenter) {
		var currSymbolIds = [];
		$scope.symbolId = '2330';

		$scope.quotes = [];
		$scope.quotes.push(dataCenter.getQuote('10', '2330'));
		$scope.quotes.push(dataCenter.getQuote('10', '6214'));
		currSymbolIds.push('2330');
		currSymbolIds.push('6214');

		$scope.quoteDetail = {};

		$scope.addSymbol = function() {
			if (currSymbolIds.indexOf($scope.symbolId) < 0) {
				$scope.quotes.push(dataCenter.getQuote('10', $scope.symbolId));
				currSymbolIds.push($scope.symbolId);
			}
		};

		$scope.showDetail = function(quote) {
			$scope.quoteDetail = quote;
		};
		
		$scope.chooseUpDownClass = function(upDownStatus){
			switch(upDownStatus){
				case 'up':
					return 'mainUpV5';
					break;
				case 'down':
					return 'mainDownV5';
					break;
				case 'upEnd':
					return 'mainUpV5';
					break;
				case 'downEnd':
					return 'mainDownV5';
					break;
				default :
					return '';
					break;
			}
		};
	} ]);

	app.directive("amberLight", [ '$timeout', '$animate', function($timeout, $animate) {
		var flash = function(element) {
			element.addClass("amberLight");
			$animate.removeClass(element, 'amberLight');
		};

		return function(scope, element, attrs) {
			//flash(element);
			var wacthValue = '';
			if (typeof (attrs["watchValue"]) != "undefined") {
				wacthValue = attrs["watchValue"];
			} else {
				wacthValue = attrs["ngBind"];
			}
			scope.$watch(wacthValue, function(newValue, oldValue) {
				if (newValue != oldValue) {
					flash(element);
				}
			});
		};
	} ]);

	app.filter("persent", [ function() {
		return function(number, point) {
			if (typeof (point) == "undefined")
				point = 2;
			if (typeof (number) != "undefined") {
				if (angular.isNumber(number) == false) {
					number = parseFloat(number);
				}
				return number.toFixed(point) + ' %';
			}
		};
	} ]);
	app.filter("signConver", [ function() {
		return function(numberStr) {
			if (typeof (numberStr) != "undefined") {
				if (angular.isString(numberStr) == false) {
					numberStr = numberStr + '';
				}
				if (numberStr.charAt(0) == '-'){
					numberStr = '▼ ' + numberStr.substring(1);
				}else {
					numberStr = '▲ ' + numberStr;
				}
				return numberStr;
			}
		};
	} ]);
</script>
</head>
<body ng-app="app">
	<h1>Quote Test!!</h1>
	<div ng-controller="mainCtrl">
		<hr />
		<div class="container TopMainMenuTAB">
			<div class="row">
				<div class="col-md-6">
					<input type="text" ng-model="symbolId" /> <input type="button" value="add symbol" ng-click="addSymbol()" />
					<hr />
					<table width="100%" border="0" class="SearchList">
						<tr>
							<th class="MlTitleV5tTableTr" bgcolor="#1c1d1f">代碼</th>
							<th class="MlTitleV5tTableTr" bgcolor="#1c1d1f">名稱</th>
							<th class="MlTitleV5tTableTr" bgcolor="#1c1d1f">成交價</th>
							<th class="MlTitleV5tTableTr" bgcolor="#1c1d1f">成交量</th>
							<th class="MlTitleV5tTableTr" bgcolor="#1c1d1f">漲跌</th>
							<th class="MlTitleV5tTableTr" bgcolor="#1c1d1f">漲跌幅</th>
						</tr>
						<tr ng-repeat="quote in quotes">
							<td class="MlTitleV5tTableTr ChartTitleV5" ng-bind="quote.getSymbol()"></td>
							<td class="MlTitleV5tTableTr ChartTitletimeV5"><a ng-bind="quote.getName()" href="#" ng-click="showDetail(quote)"></a></td>
							<td amber-light class="MlTitleV5tTableTr ChartTitleV5" ng-class="chooseUpDownClass(quote.getUpDownStatus())" ng-bind="quote.getPrice()"></td>
							<td amber-light class="MlTitleV5tTableTr ChartTitleV5" ng-bind="quote.getTtlVol()"></td>
							<td amber-light class="MlTitleV5tTableTr ChartTitleV5" ng-class="chooseUpDownClass(quote.getUpDownStatus())" ng-bind="quote.getNetChange() | signConver"></td>
							<td amber-light class="MlTitleV5tTableTr ChartTitleV5" ng-class="chooseUpDownClass(quote.getUpDownStatus())" ng-bind="quote.getNetChangePercent() | persent | signConver"></td>
						</tr>
					</table>
				</div>
				<div class="col-md-6">
					<table class="table">
						<tr>
							<th colspan="4">行情: <span ng-bind="quoteDetail.getName()"></span></th>
						</tr>
						<tr>
							<td width="20%">成交價:</td>
							<td width="30%" amber-light ng-bind="quoteDetail.getPrice()"></td>
							<td width="20%">成交量:</td>
							<td width="30%" amber-light ng-bind="quoteDetail.getTtlVol()"></td>
						</tr>
						<tr>
							<td width="20%">昨收:</td>
							<td width="30%" amber-light ng-bind="quoteDetail.getPreClose()"></td>
							<td width="20%">開盤:</td>
							<td width="30%" amber-light ng-bind="quoteDetail.getOpen()"></td>
						</tr>
						<tr>
							<td width="20%">漲跌:</td>
							<td width="30%" amber-light ng-bind="quoteDetail.getNetChange()"></td>
							<td width="20%">漲跌幅:</td>
							<td width="30%" amber-light ng-bind="quoteDetail.getNetChangePercent()"></td>
						</tr>
						<tr>
							<td width="20%">今高:</td>
							<td width="30%" amber-light ng-bind="quoteDetail.getHigh()"></td>
							<td width="20%">今低:</td>
							<td width="30%" amber-light ng-bind="quoteDetail.getLow()"></td>
						</tr>
					</table>
					<hr />
					<table class="table">
						<tr>
							<th colspan="4">五檔</th>
						</tr>
						<tr>
							<th>(<span ng-bind="quoteDetail.getTtlBidVol()"></span>)
							</th>
							<th>買價</th>
							<th>賣價</th>
							<th>(<span ng-bind="quoteDetail.getTtlAskVol()"></span>)
							</th>
						</tr>
						<tr>
							<td ng-bind="quoteDetail.getBidVol()"></td>
							<td ng-bind="quoteDetail.getBidPrice()"></td>
							<td ng-bind="quoteDetail.getAskPrice()"></td>
							<td ng-bind="quoteDetail.getAskVol()"></td>
						</tr>
						<tr>
							<td ng-bind="quoteDetail.getBidVol2()"></td>
							<td ng-bind="quoteDetail.getBidPrice2()"></td>
							<td ng-bind="quoteDetail.getAskPrice2()"></td>
							<td ng-bind="quoteDetail.getAskVol2()"></td>
						</tr>
						<tr>
							<td ng-bind="quoteDetail.getBidVol3()"></td>
							<td ng-bind="quoteDetail.getBidPrice3()"></td>
							<td ng-bind="quoteDetail.getAskPrice3()"></td>
							<td ng-bind="quoteDetail.getAskVol3()"></td>
						</tr>
						<tr>
							<td ng-bind="quoteDetail.getBidVol4()"></td>
							<td ng-bind="quoteDetail.getBidPrice4()"></td>
							<td ng-bind="quoteDetail.getAskPrice4()"></td>
							<td ng-bind="quoteDetail.getAskVol4()"></td>
						</tr>
						<tr>
							<td ng-bind="quoteDetail.getBidVol5()"></td>
							<td ng-bind="quoteDetail.getBidPrice5()"></td>
							<td ng-bind="quoteDetail.getAskPrice5()"></td>
							<td ng-bind="quoteDetail.getAskVol5()"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>