<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://code.angularjs.org/1.2.28/angular.js"></script>
<script src="js/angular-vs-repeat.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="css/style.css" />
<script src="f1_bk_api/f1_bk_api.nocache.js"></script>
<script src="http://10.1.41.222/cdn/angular-kqs/0.0.1/js/angular-kqs.js"></script>
<title>tick test</title>
<script type="text/javascript">
	var app = angular.module('app', [ 'kqs', 'vs-repeat' ]);
	app.controller('mainCtrl', [ '$scope', 'dataCenter', function($scope, dataCenter) {
		$scope.tickList = [];
		$scope.symbolId = '2330';
		$scope.sub = function() {
			$scope.tickList = dataCenter.getTickList('10', $scope.symbolId);
		};
	} ]);
	app.filter('toUpDownClass', [ function() {
		return function(status) {
			switch (status) {
			case 'up':
				return 'mainUpV5';
				break;
			case 'down':
				return 'mainDownV5';
				break;
			case 'upEnd':
				return 'mainUpV5';
				break;
			case 'downEnd':
				return 'mainDownV5';
				break;
			default:
				return '';
				break;
			}
		};
	} ]);
</script>
<style type="text/css">
.repeater-container {
	height: 454px;
	overflow: auto;
	box-shadow: 0 0 10px;
	border-radius: 5px;
	-webkit-overflow-scrolling: touch;
}

.vs-repeat-repeated-element {
	position: static;
	z-index: 1;
}
</style>
</head>
<body ng-app="app">
	<h1>Tick list Test!!</h1>
	<div ng-controller="mainCtrl" class="container TopMainMenuTAB">
		<div ng-controller="mainCtrl">
			<input type="text" ng-model="symbolId" /> <input type="button" value="subscribe" ng-click="sub()" />
			<hr />

			<div class="row">
				<div class="col-md-6">
					<table width="100%" border="0" class="SearchList">
						<tr>
							<th class="MlTitleV5tTableTr" bgcolor="#1c1d1f">時間</th>
							<th class="MlTitleV5tTableTr" bgcolor="#1c1d1f">買價</th>
							<th class="MlTitleV5tTableTr" bgcolor="#1c1d1f">賣價</th>
							<th class="MlTitleV5tTableTr" bgcolor="#1c1d1f">成交</th>
							<th class="MlTitleV5tTableTr" bgcolor="#1c1d1f">單量</th>
						</tr>
						<tr ng-repeat="tick in tickList.list() ">
							<td class="MlTitleV5tTableTr ChartTitleV5" ng-bind="tick.time | tradeTime"></td>
							<td class="MlTitleV5tTableTr ChartTitleV5" ng-class="tickList.getPriceStatus(tick.bid) | toUpDownClass" ng-bind="tick.bid"></td>
							<td class="MlTitleV5tTableTr ChartTitleV5" ng-class="tickList.getPriceStatus(tick.ask) | toUpDownClass" ng-bind="tick.ask"></td>
							<td class="MlTitleV5tTableTr ChartTitleV5" ng-class="tickList.getPriceStatus(tick.price) | toUpDownClass " ng-bind="tick.price"></td>
							<td class="MlTitleV5tTableTr ChartTitletimeV5" ng-bind="tick.bitVol"></td>
						</tr>
					</table>
				</div>
			</div>

		</div>
	</div>
</body>
</html>